.gitignore
*.sublime-project
*.sublime-workspace
todo.txt
reset-files.bash

*.tar.gz

*.exe
src/rapids
src/rapidsd
src/rapids-cli
src/rapids-tx
src/qt/rapids-qt
src/qt/test/test_rapids-qt
src/bench/bench_rapids
src/bench/bench_pivx
src/test/test_rapids
src/qt/test/test_rapids-qt

# autoreconf
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/m4/libtool.m4
build-aux/m4/lt~obsolete.m4
build-aux/m4/ltoptions.m4
build-aux/m4/ltsugar.m4
build-aux/m4/ltversion.m4
build-aux/missing
build-aux/compile
build-aux/test-driver
config.log
config.status
configure
configure~
confdefs.h
conftest.cpp
conftest.err
libtool
src/config/rapids-config.h
src/config/pivx-config.h
src/config/rapids-config.h.in
src/config/pivx-config.h.in
src/config/stamp-h1
share/setup.nsi
share/qt/Info.plist
contrib/devtools/split-debug.sh

src/univalue/gen

src/qt/*.moc
src/qt/moc_*.cpp
src/qt/forms/ui_*.h

src/qt/test/moc*.cpp

.deps
.dirstamp
.libs
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.pyc
*.o
*.o-*
*.patch
.rapids
*.a
*.pb.cc
*.pb.h

*.log
*.trs
*.dmg

*.json.h
*.raw.h

#libtool object files
*.lo
*.la

# Compilation and Qt preprocessor part
*.qm
Makefile
rapids-qt
Rapids-Qt.app
background.tiff*

# Rust
.cargo/.configured-for-*
.cargo/config
target/

# Unit-tests
Makefile.test
rapids-qt_test
src/test/buildenv.py

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

#lcov
*.gcno
/*.info
test_rapids.coverage/
total.coverage/
coverage_percent.txt

#build tests
linux-coverage-build
linux-build
win32-build
test/config.ini
test/cache/*
qa/pull-tester/run-bitcoind-for-test.sh
qa/pull-tester/tests-config.sh
qa/pull-tester/cache/*
qa/pull-tester/test.*/*
cache/*

!src/leveldb*/Makefile

.cproject
.project
/doc/doxygen/
/nbproject/
libbitcoinconsensus.pc
.idea
CMakeLists.txt
cmake-build-debug

moc_*
*.tmp
ui_*
build*
rapidsd.*
rapidsd-new-gui.*
.vs/ProjectSettings.json

.vs/Rapids/project-colors.json

.vs/Rapids/v17/.suo

.vs/Rapids/v17/Browse.VC.db

.vs/Rapids/v17/Browse.VC.db-shm

.vs/Rapids/v17/Browse.VC.db-wal

.vs/Rapids/v17/Browse.VC.opendb

.vs/Rapids/v17/workspaceFileList.bin

.vs/slnx.sqlite

.vs/VSWorkspaceState.json

.vs/Rapids/FileContentIndex/0635b317-a23f-4262-a127-164f4bcd4d9f.vsidx

.vs/Rapids/FileContentIndex/7d7c94ba-ed7d-43f4-a5ea-9a18cd6166e9.vsidx

.vs/Rapids/FileContentIndex/db80fd50-ea41-40ec-8001-b1dfa5f952b3.vsidx

.vs/Rapids/FileContentIndex/f2050506-a1d0-4848-9503-5262d9c25bdb.vsidx

.vs/Rapids/FileContentIndex/f7df5462-19d8-4520-be4f-bb0678ba89bc.vsidx

.vs/Rapids/FileContentIndex/read.lock

.vs/Rapids/FileContentIndex/6336baa1-353a-45a5-bb0c-0a150d67294a.vsidx
